numpy==1.19.3
numba==0.56.4
scipy==1.10.1
pandas==1.1.5
statsmodels==0.13.5
daproli==0.22
tqdm==4.62.3
bocd==0.1.2
stumpy==1.11.0
onlinecp==0.0a0
ruptures==1.1.5
matplotlib==3.6.3
seaborn==0.11.2
toml==0.10.2
setuptools==58.3.0
apache-flink==1.17
wfdb==3.4.1